{% extends "../base.html" %}

{% block content %}
<main class="main mt-5 d-flex flex-column p-2 gap-4">
    <!-- Profile top -->
    <div class="d-flex flex-wrap">
        <div class="row-aligned gap-4 p-2">
            {% if profile.user_picture %}
                <img class="profile-icon-lg" src="{{ profile.user_picture }}" alt="Profile picture">
            {% else %}
                <i class="fa-solid fa-user fa-4x"></i>
            {% endif %}
            <h3 id="username">{{ profile.username }}</h3>
            {% if profile.username != request.user.username and request.user.is_authenticated %}
                {% if not is_following %}
                    <a href="{% url 'follow' profile.username %}" class="btn btn-primary">Follow</a>
                {% else %}
                    <a href="{% url 'unfollow' profile.username %}" class="btn btn-danger">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- Profile text -->
    <div class="px-4">
        {{ profile.user_text }}
    </div>

    <!-- Profile Follow/Following/Posts-->
    <div class="d-flex justify-content-around">
        {% if type == "Following" %}
            <p class="nav-link fs-5 p-2 shadow-sm rounded-3 bg-dark-subtle">{{ following_count }} Following</p>
            <a href="{% url 'profile_follower' profile.username %}" class="nav-link fs-5">{{ follower_count }} Follower</a>
            
        {% else %}
            <a href="{% url 'profile_following' profile.username %}" class="nav-link fs-5">{{ following_count }} Following</a>
            <p class="nav-link fs-5 p-2 shadow-sm rounded-3 bg-dark-subtle">{{ follower_count }} Follower</p>
        {% endif%}
        
        <a href="{% url 'profile' profile.username %}" class="nav-link fs-5">{{ post_count }} Posts</p>
    </div>

    <div class="follow-list">
        <h2>{{ type }}</h2>
        {% for follow in follow_list %}
            <div class="d-flex justify-content-between p-2 bg-dark-subtle rounded-3 shadow-sm">
                <div class="row-aligned gap-2">
                    {% if follow.user_picture %}
                        <img class="profile-icon" src="{{ follow.user_picture }}" alt="Profile picture">
                    {% else %}
                        <i class="fa-solid fa-user fa-2x"></i>
                    {% endif %}
                    <h3 id="username">{{ follow.username }}</h3>
                </div>
                <div class="row-aligned">
                    <a href="{% url 'profile' follow.username %}" class="btn btn-primary">Visit</a>
                </div>                
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}