{% extends "../base.html" %}

{% block content %}

<main class="main d-flex flex-column my-3 gap-4">
    <h2 class="text-center">Your feed</h2>
    
    <!-- New post -->
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'new_post' %}" class="row-aligned row-centered gap-2 p-3 rounded-3 bg-light shadow-sm">
        {% csrf_token %}
        <i class="fa-solid fa-circle-plus fa-3x"></i>
        <textarea placeholder="Tell us your thoughts" id="content" name="content" class="w-75" rows="8"></textarea>
        <button class="btn btn-primary" type="submit" aria-label="Add new post"><i class="fa-solid fa-paper-plane fa-2x"></i></button>
    </form>
    {% else %}
    <div class="row-aligned row-centered gap-2 p-3 rounded-3 bg-light shadow-sm">
        <i class="fa-solid fa-circle-plus fa-3x"></i>
        <a href="{% url 'login' %}" class="btn btn-primary">Login to post</a>
    </div>
    {% endif %}

    <!-- Post list -->
    <div class="d-flex flex-column gap-3" id="post-list">
        
        {% for post in post_list %}
        <!-- Post -->
        <div class="post card shadow-sm">
            <!-- Post top (including edit)-->
            <div class="card-title d-flex justify-content-between p-4">
                <!-- User display -->
                <a class="row-aligned text-reset text-decoration-none gap-4 p-2" href="{% url 'profile' post.user.username %}">
                    {% if post.user.user_picture %}
                        <img class="profile-icon-lg" src="{{ post.user.user_picture }}" alt="Profile picture">
                    {% else %}
                        <i class="fa-solid fa-user fa-3x"></i>
                    {% endif %}
                    <h3>{{ post.user.username }}</h3>
                </a>
            </div>

            <!-- Post center date and text -->
            <p class="px-4">Posted at: {{ post.created_at }}</p>
            <p class="card-text p-4"><a href="{% url 'view_post' post.id %}" class="text-decoration-none text-reset">{{ post.content }}</a> </p>

            <!-- Post footer -->
            <div class="card-footer d-flex justify-content-between p-4">
                <!-- Post comment list -->
                <a href="{% url 'view_post' post.id %}" class="row-aligned gap-3 text-decoration-none text-reset">
                    <i class="fa-solid fa-message fa-2x"></i>
                    <span>{{ post.comment_count }}</span> 
                </a>

                <!-- Post voting -->
                <div>
                    {% if request.user.is_authenticated %}
                    <a class="text-reset text-decoration-none row-aligned gap-3" href="{% url 'view_post' post.id %}">
                        <span>{{ post.vote_ratio }}%</span> 
                        {% if post.user_vote %}
                            {% if post.user_vote == 'like' %}
                                <i class="fa-solid fa-thumbs-up fa-2x" style="color:green"></i>
                            {% else %}
                                <i class="fa-solid fa-thumbs-down fa-2x" style="color:red"></i>
                            {% endif %}
                        {% else %}
                            <i class="fa-solid fa-thumbs-up fa-2x"></i>
                        {% endif %}
                            
                    </a>
                    {% else %}
                        <a class="text-reset text-decoration-none row-aligned gap-3" href="{% url 'view_post' post.id %}">
                            <span>{{ post.vote_ratio }} %</span>
                            <i class="fa-solid fa-thumbs-up fa-2x"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Load button -->
    <div class="mt-2 row-centered" id="load-control">
        <button id="load-tweets-btn" class="btn btn-primary" onclick="loadMore()">Load more</button>
    </div>
        
    
</main>
<script>
    //Switches the loading post status
    function switchLoading() {
        if (document.querySelector("#load-control").classList.contains('active')) {
            document.querySelector("#load-control").classList.remove('active');
            document.querySelector("#load-control").innerHTML = '<button id="load-tweets-btn" class="btn btn-primary" onclick="loadMore()">Load more</button>';
        }
        else {
            document.querySelector("#load-control").classList.add('active');
            document.querySelector("#load-control").innerHTML = '<div id="loading-icon" class="lds-ellipsis col-4"><div></div><div></div><div></div><div></div></div>';
        }
    }

    function loadMore() {
        //Show loading icon
        switchLoading();
        let offset = document.getElementsByClassName('post').length;
        let url = '/load_feed_posts/' + offset + '/';

        //Get more mosts
        fetch(url).then(function(response) {
            if (response.status === 200) {
                return response.json();
            } else {
                switchLoading()
                document.querySelector("#load-control").innerHTML = "<p>Loading error</p>"
            }
        }).then(function(data) {
            switchLoading()

            if(data.length == 0) {
                document.querySelector("#load-control").innerHTML = "<p>No more posts</p>"
            } else {
                //Append new posts
                let postList = document.getElementById('post-list');

                data.forEach(function(post) {
                    let postHTML = `<div class="post card shadow-sm">
                        <!-- Post top (including edit)-->
                        <div class="card-title d-flex justify-content-between p-4">
                            <!-- User display -->
                            <div class="row-aligned">`;

                    if(post.user.user_picture) {
                        postHTML += `<a href="/profile/${post.user.username}" class="btn"><img class="profile-icon-lg" src="${post.user.user_picture}" alt="Profile picture"></a>`;
                    }
                    else {
                        postHTML += `<a href="/profile/${post.user.username}" class="btn"><i class="fa-solid fa-user fa-3x"></i></a>`;
                    }
                    postHTML += `<h3>${post.user.username}</h3>
                            </div>
                        </div>

                        <!-- Post center date and text -->
                        <p class="px-4">Posted at: ${ post.created_at }</p>
                        <p class="card-text p-4"><a href="/post/${post.id}" class="text-decoration-none text-reset">${ post.content }</a> </p>

                        <!-- Post footer -->
                        <div class="card-footer d-flex justify-content-between p-4">
                            <!-- Post comment list -->
                            <a href="/post/${post.id}" class="row-aligned gap-3 text-decoration-none text-reset">
                                <i class="fa-solid fa-message fa-2x"></i>
                                <span>${post.comment_count}</span> 
                            </a>

                            <!-- Post voting -->
                            <div>
                                <a class="text-reset text-decoration-none row-aligned gap-3" href="/post/${post.id}">
                                    <span>${ post.vote_ratio }%</span>`;
                        
                    if(post.user_vote == 'like') {
                        postHTML += `<i class="fa-solid fa-thumbs-up fa-2x" style="color:green"></i>`;
                    }
                    else if(post.user_vote == 'dislike') {
                        postHTML += `<i class="fa-solid fa-thumbs-down fa-2x" style="color:red"></i>`;
                    }
                    else {
                        postHTML += `<i class="fa-solid fa-thumbs-up fa-2x"></i>`;
                    }
                    postHTML += `</a>
                            </div>
                        </div>
                    </div>`;

                    postList.innerHTML += postHTML;
                });
            }
        }).catch(function(error) {
            switchLoading()
            document.querySelector("#load-control").innerHTML = "<p>Loading error</p>"
            console.log(error);
        });
    }
</script>

{%endblock%}