{% extends "../base.html" %}

{% block content %}

<main class="container">
    <h2>Your feed</h2>
    
    <!-- New post -->
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'new_post' %}" class="row-aligned row-centered gap-2 p-3 rounded-3 bg-light shadow-sm">
        {% csrf_token %}
        <i class="fa-solid fa-circle-plus fa-3x"></i>
        <textarea placeholder="Tell us your thoughts" id="content" name="content" class="w-75"></textarea>
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-paper-plane fa-2x"></i></button>
    </form>
    {% else %}
    <div class="row-aligned row-centered gap-2 p-3 rounded-3 bg-light shadow-sm">
        <i class="fa-solid fa-circle-plus fa-3x"></i>
        <a href="{% url 'login' %}" class="btn btn-primary">Login to post</a>
    </div>
    {% endif %}

    <div class="container" id="post-list">
        
        {% for post in post_list %}
            <div class="post card row justify-content-center" style="max-width: 50rem;">
                <div class="card-body container">
                    <div class="row">
                        <a class="card-title d-flex" href="{% url 'profile' post.user.username %} ">
                            {% if post.user.user_picture %}
                                <p>Image</p>
                            {% else %}
                                <i class="fa-solid fa-user"></i>
                            {% endif %}
                            <span class="pl-2">{{ post.user.username }}</span>
                        </a> 
                    </div>
                                  
                    <div class="row">
                        <a class="card-text" href="{% url 'view_post' post.id %}">
                            {{ post.content }}
                        </a>
                    </div> 
                </div>
                <div class="post-bottom-preview card-footer d-flex flex-wrap align-items-center justify-content-between border-bottom" >
                    <i class="fa-solid fa-message"></i>
                    <p>Vote</p>
                </div>                
                
            </div>
        {% endfor %}
    </div>
    <div id="more-posts-control" class="container">

        <div class="d-flex-inline mx-auto" id="load-control">
            <button id="load-tweets-btn" class="btn btn-primary" onclick="loadMore()">Load more</button>
        </div>
        
    </div>
    
</main>
<style>


@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>
<script>
    //Switches the loading post status
    function switchLoading() {
        if (document.querySelector("#load-control").classList.contains('active')) {
            document.querySelector("#load-control").classList.remove('active');
            document.querySelector("#load-control").innerHTML = '<button id="load-tweets-btn" class="btn btn-primary" onclick="loadMore()">Load more</button>';
        }
        else {
            document.querySelector("#load-control").classList.add('active');
            document.querySelector("#load-control").innerHTML = '<div id="loading-icon" class="lds-ellipsis col-4"><div></div><div></div><div></div><div></div></div>';
        }
    }

    function loadMore() {
        //Show loading icon
        switchLoading();
        let offset = document.getElementsByClassName('post').length;
        let url = '/load_feed_posts/' + offset + '/';

        //Get more mosts
        fetch(url).then(function(response) {
            if (response.status === 200) {
                return response.json();
            } else {
                switchLoading()
                document.querySelector("#more-posts-control").innerHTML = "<p class='col-4'>Loading error</p>"
            }
        }).then(function(data) {
            switchLoading()

            if(data.length == 0) {
                document.querySelector("#more-posts-control").innerHTML = "<p class='col-4'>No more posts</p>"
            } else {
                //Append new posts
                let postList = document.getElementById('post-list');

                data.forEach(function(post) {
                    let div = document.createElement('div');
                    div.className = 'post';
                    div.innerHTML = '<a href="/' + post.username + '/">' + post.username + '</a>' + post.content;
                    postList.appendChild(div);
                });
            }
        }).catch(function(error) {
            switchLoading()
            document.querySelector("#more-posts-control").innerHTML = "<p class='col-4'>Loading error</p>"
            console.log(error);
        });
    }
</script>

{%endblock%}