{% extends "../base.html" %}

{% block content %}

<main class="container">
    <!-- Write new post -->
    {% if request.user.is_authenticated %}
    <div class="card text-center">
        <form method="post" action="{% url 'new_post' %}">
            {% csrf_token %}
            <!-- {{ form }} -->
            <textarea placeholder="Tell us your thoughts" id="content" name="content" style="width:90%"></textarea>
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
    {% endif %}
    <div class="container" id="post-list">
        
        {% for post in post_list %}
            <div class="post card row justify-content-center" style="max-width: 50rem;">
                <div class="card-body container">
                    <div class="row">
                        <a class="card-title" href="{% url 'profile' post.user.username %}">
                            {% if post.user.user_picture %}
                                <p>Image</p>
                            {% else %}
                                <i class="fa-solid fa-user"></i>
                            {% endif %}
                            <span>{{ post.user.username }}</span>
                        </a> 
                    </div>
                                  
                    <div class="row">
                        <a class="card-text" href="{% url 'view_post' post.id %}">
                            {{ post.content }}
                        </a>
                    </div> 
                </div>
                <div class="post-bottom-preview card-footer d-flex flex-wrap align-items-center justify-content-between border-bottom" >
                    <i class="fa-solid fa-message"></i>
                    <p>Vote</p>
                </div>                
                
            </div>
        {% endfor %}
    </div>
    <div id="more-posts-control" class="container">

        <div class="d-flex-inline mx-auto" id="load-control">
            <button id="load-tweets-btn" class="btn btn-primary">Load more</button>
        </div>
        
    </div>
    
</main>
<style>


@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>
<script>
    //I miss react
    function switchLoading() {
        if (document.querySelector("#load-control").classList.contains('active')) {
            document.querySelector("#load-control").classList.remove('active');
            document.querySelector("#load-control").innerHTML = '<button id="load-tweets-btn" class="btn btn-primary">Load more</button>';
        }
        else {
            document.querySelector("#load-control").classList.add('active');
            document.querySelector("#load-control").innerHTML = '<div id="loading-icon" class="lds-ellipsis col-4"><div></div><div></div><div></div><div></div></div>';
        }
    }
    document.querySelector("#load-tweets-btn").addEventListener("click", function() {
        switchLoading()
        setTimeout(loadMore(), 2000)
        
    })
    // window.onscroll = function() {
    //     if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
    //         loadMore();
    //     }
    // };

    function loadMore() {
        var offset = document.getElementsByClassName('post').length;
        console.log(offset)
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/load_posts/' + offset + '/');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var tweets = document.getElementById('post-list');
                var data = JSON.parse(xhr.responseText);
                if(data.length == 0) {
                    document.querySelector("#more-posts-control").innerHTML = "<p class='col-4'>No more posts</p>"
                }
                else {
                    data.forEach(function(post) {
                        var div = document.createElement('div');
                        div.className = 'post';
                        div.innerHTML = '<a href="/' + post.username + '/">' + post.username + '</a>' + post.content;
                        tweets.appendChild(div);
                    });
                }
                
                switchLoading();
            }
        };
        document.querySelector("#load-tweets-btn")
        xhr.send();
    }
</script>

{%endblock%}