@import url("reset.css");
@import url("icons.css");

/* Themes are loaded in seperately */
/*
#
# General styling
#
*/
:root {
    --text-color: black;
    --secondary-text-color: white;
    --main-color: #0B409C;
}

body {
    min-height:100vh;
    width:100vw;

    font-family: "Inter", sans-serif;
    font-weight: 400;

    color:var(--text-color);    
}

a {
    text-decoration:none;
    color:var(--text-color);
}

/* Set font sizes */
h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

h3 {
    font-size: clamp(1rem, 2vw, 2rem);
}

p, figcaption, span {
    font-size: clamp(1rem, 1vw, 1.25rem);
}

.profile-icon {
    width: clamp(2rem, 3vw, 4rem);
    height: clamp(2rem, 3vw, 4rem);
    border-radius: 100%;
}

.profile-icon-lg {
    width: clamp(2rem, 4vw, 5rem);
    height: clamp(2rem, 4vw, 5rem);
    border-radius: 100%;
}

.profile-icon-sm {
    width: clamp(2rem, 2vw, 3rem);
    height: clamp(2rem, 2vw, 3rem);
    border-radius: 100%;
}

.main {
    overflow-x: hidden;
    max-width:60rem;
    margin:0 auto;
}

.row-fw, .col-fw {
    width:100%;
}

.row-aligned {
    display:flex;
    align-items: center;
}
.col-aligned {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.row-centered {
    display:flex;

    justify-content: center;
}

.col-centered {
    display:flex;
    flex-direction: column;
    align-items: center;
}



