<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniTwitter</title>

    <meta name="description" content="MiniTwitter, post your thoughts!">
    <meta name="keywords" content="twitter, posting, thoughts, commenting">
    <meta name="author" content="Robin Bosch">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

    <!-- Include Bootstrap CSS from BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript from BootstrapCDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <header class="d-flex justify-content-between bg-dark align-items-center">

            <div class="col container">
                <a href="{% url 'home' %}" class="row">
                    <p>Logo</p>
                    <h1>MiniTwitter</h1>
                </a>
            </div>
        
            <div class="col">
                <a href="{% url 'home' %}" class="btn"><i class="fa-solid fa-house fa-inverse fa-2x"></i></a>
                <input type="text" placeholder="Search">
                <!-- TODO: Replace with actual search link -->
                <a href="{% url 'home' %}" class="btn"><i class="fa-solid fa-magnifying-glass fa-inverse fa-2x"></i></a>
            </div>
            <div class="col">
                {% if request.user.is_authenticated %}
                    <!-- TODO: Replace with actual notification link -->
                    <a href="{% url 'home' %}" class="btn"><i class="fa-solid fa-bell fa-inverse fa-2x"></i></a>

                    <!-- TODO: Replace with actual message list link -->
                    <a href="{% url 'home' %}" class="btn"><i class="fa-solid fa-message fa-inverse fa-2x"></i></a>
                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary btn-sm" role="button" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" role="button" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
    </header>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</body>
</html>