{% extends "base.html" %}

{% block content %}
<aside>
    <div>
        Icon and Username
    </div>
    <div>
        Following
    </div>
    <div class="row">
        Icons and Username 
        
        <button>Follow</button>
    </div>
    <button>Show all</button>
</aside>
<main>
    <!-- Write new post -->
    <div>

        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'new_post' %}">
                {% csrf_token %}
                <!-- {{ form }} -->
                <textarea placeholder="Tell us your thoughts" id="content" name="content"></textarea>
                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        {% endif %}
        <form method="post" action="{% url 'new_post' %}">
            {% csrf_token %}
            <!-- {{ form }} -->
            <textarea placeholder="Tell us your thoughts" id="content" name="content"></textarea>
            <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
    
    <div id="post-list">
        <h2>Post list</h2>
        {% for post in post_list %}
            <div>
                <div>
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <a href="">{{ post.profile.username }}</a>
                    </div>
                    <div>
                        {% if user == post.profile.user %}
                            <a href="">Edit</a>
                            <a href="">Delete</a>
                        {% endif %}
                    </div>
                    
                </div>
                <p>
                    {{ post.content }}
                </p>
                <div class="post-bottom-preview">
                    <i class="fa-solid fa-message"></i>

                </div>
                
            </div>
        {% endfor %}
    </div>
</main>


{%endblock%}