{% extends "base.html" %}

{% block content %}
<aside>
    <div>
        Icon and {{ user.username }}
    </div>
    <div>
        Following
    </div>
    <div class="row">
        Icons and Username 
        
        <button>Follow</button>
    </div>
    <button>Show all</button>
</aside>
<main>
    <!-- Write new post -->
    <div>

        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'new_post' %}">
                {% csrf_token %}
                <!-- {{ form }} -->
                <textarea placeholder="Tell us your thoughts" id="content" name="content"></textarea>
                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        {% endif %}

    </div>
    <h2>Post list</h2>
    <div id="post-list">
        
        {% for post in post_list %}
            <div class="post">
                <div>
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <a href="">{{ post.profile.username }}</a>
                    </div>
                    <div>
                        {% if user == post.profile.user %}
                            <a href="">Edit</a>
                            <a href="">Delete</a>
                        {% endif %}
                    </div>
                    
                </div>
                <a href="{% url 'view_post' post.id %}">
                    {{ post.content }}
                </a>
                <div class="post-bottom-preview">
                    <i class="fa-solid fa-message"></i>

                </div>
                
            </div>
        {% endfor %}
    </div>
    <div id="more-posts-control">
        <button id="load-tweets-btn" class="active">Load more</button>
        <div id="loading-icon" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    
</main>
<style>

#load-tweets-btn {
    display:none;
    color:green;
}
#load-tweets-btn.active {
    color:black;
    display:block;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>
<script>
    //I miss react
    function switchLoading() {
        if (document.querySelector("#load-tweets-btn").classList.contains('active')) {
            console.log("loading")
            document.querySelector("#load-tweets-btn").classList.remove('active');
            document.querySelector("#loading-icon").classList.add('active');
        }
        else {
            console.log("not loading")
            document.querySelector("#load-tweets-btn").classList.add('active');
            document.querySelector("#loading-icon").classList.remove('active');
        }
    }
    document.querySelector("#load-tweets-btn").addEventListener("click", function() {
        switchLoading()
        setTimeout(loadMore(), 2000)
        
    })
    // window.onscroll = function() {
    //     if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
    //         loadMore();
    //     }
    // };

    function loadMore() {
        var offset = document.getElementsByClassName('post').length;
        console.log(offset)
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/load_posts/' + offset + '/');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var tweets = document.getElementById('post-list');
                var data = JSON.parse(xhr.responseText);
                if(data.length == 0) {
                    document.querySelector("#more-posts-control").innerHTML = "No more posts"
                }
                else {
                    data.forEach(function(post) {
                        var div = document.createElement('div');
                        div.className = 'post';
                        div.innerHTML = '<a href="/' + post.username + '/">' + post.username + '</a>' + post.content;
                        tweets.appendChild(div);
                    });
                }
                
                switchLoading();
            }
        };
        document.querySelector("#load-tweets-btn")
        xhr.send();
    }
</script>

{%endblock%}