{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="post card">
        <div class="card-title">
            {{ post.user.username }}
            <!-- TODO: Add profile picture -->
        </div>
        <div class="card-text">{{ post.content }}</div>

        {% if user == post.user %}
            <a href="{% url 'edit_post' post.id %}">Edit</a>
            <a href="">Delete</a>
        {% endif %}
    </div>

    <div class="container text-center">
        {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Comment">
        </form>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">Login to comment</a>
        {% endif %}
    </div>

    <div class="comment-list container">
        {% for comment in comment_list %}
        <div class="comment card">
            <div class="card-title">
                <!-- TODO: Add profile picture -->
                {{ comment.user.username }}
            </div>
            <div class="card-text">{{ comment.content }}</div>
            
        </div>
        {% endfor %}
    </div>
    
</main>

{%endblock%}