{% extends "base.html" %}

{% block content %}
    <h1>User settings</h1>
    <form method="post" action="{% url 'settings' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
          </div>
          <div class="mb-3">
            <label for="user_picture" class="form-label">Profile picture url:</label>
            <input type="text" class="form-control" id="user_picture" name="user_picture" value="{{ user.user_picture }}">
          </div>
          <div class="mb-3">
            <label for="user_text" class="form-label">Profile text:</label>
            <textarea class="form-control" id="user_text" name="user_text">{{ user.user_text }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save settings</button>
    </form>
    <form class="container" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <div class="mb-3">
                <label for="password" class="form-label">New password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="password_confirm" class="form-label">Confirm new password:</label>
                <input type="password" class="form-control" id="password_confirm" name="password_confirm">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}