{% extends "../base.html" %}

{% block content %}
    <h1>Edit comment</h1>
    <div class="post card">
        <div class="card-title">
            {{ comment.post.user.username }}
            <img src="{{ comment.post.user.user_picture }}">
        </div>
        <div class="card-text">{{ comment.post.content }}</div>

        <div class="card-footer">

        </div>

        
    </div>

    <form method="post" action="{% url 'edit_comment' comment.id %}">
        {% csrf_token %}
        <textarea id="content" name="content" style="width:90%">{{ comment.content }}</textarea>
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
    </form>
{% endblock %}